{{! partials/external-links.hbs }}
<div class="portfolio-item">
  <a
    href="https://indiancinemadata.com/"
    class="portfolio-link"
    target="_blank"
  >
    <h4 class="portfolio-item-title">Indian Cinema Data Visualization blog
      <span class="portfolio-external">↗</span>
    </h4>
    <p class="portfolio-item-desc">My data-driven narrative explorations of
      Indian cinema, uncovering the patterns and insights that shape the
      industry I'm obsessed with.Retry
    </p>
  </a>
</div>