{{! partials/external-links.hbs }}
<div class="portfolio-item">
  <a
    href="https://kuchhai.substack.com/"
    class="portfolio-link"
    target="_blank"
  >
    <h4 class="portfolio-item-title">Kuch Hai: Art from the South Asian
      Subcontinent
      <span class="portfolio-external">↗</span>
    </h4>
    <p class="portfolio-item-desc">Substack featuring a piece of art from a
      South Asian artist every week. Doesn't tell you what to think, only what
      to chase.
    </p>
  </a>
</div>

{{!-- {{#if (match @type "other-link")}}
  <!-- Add other reusable links here -->
{{/if}} --}}