{{! partials/external-links.hbs }}
<div class="portfolio-item">
  <a
    href="https://www.linkedin.com/in/divyaprabhakar/"
    class="portfolio-link"
    target="_blank"
  >
    <h4 class="portfolio-item-title">LinkedIn
      <span class="portfolio-external">↗</span>
    </h4>
    <p class="portfolio-item-desc">
      Full work history here. I'm building out detailed case studies in the blog
      but reach out if you want to see deeper explorations before they're
      published.
    </p>
  </a>
</div>