<button class="sidebar-close" type="button" aria-label="Close menu">&times;</button>
<a class="sidebar-name" href="{{@site.url}}/">Divya Prabhakar</a>
<a class="sidebar-back" href="{{@site.url}}/">&larr; Back to everything</a>
