{{!< default}}

<main class="site-main sidebar-layout post-layout">

    <button class="sidebar-toggle" type="button" aria-controls="sidebar" aria-expanded="false">
        <span class="sidebar-toggle-icon" aria-hidden="true"></span>
        Menu
    </button>

    <aside class="sidebar" id="sidebar">
        {{> "sidebar-header"}}

        <nav class="sidebar-nav" id="post-toc" aria-label="Table of contents" hidden>
            <p class="sidebar-nav-heading">Table of contents</p>
            <ul class="sidebar-nav-list"></ul>
        </nav>
    </aside>

    <div class="sidebar-overlay" aria-hidden="true"></div>

    <div class="post-main">
        {{#post}}
            {{> "content" width="wide"}}
        {{/post}}

        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}

        {{#post}}
            {{> "comments"}}
        {{/post}}
    </div>

</main>
