.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: var(--body-text-size);
  color: var(--body-text-color);
  background-color: var(--bg-color);
}

.site-main {
  flex-grow: 1;
  padding: 6rem 25rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6rem 2rem;
  align-items: start;
  overflow-x: clip;
}

.page-template .site-content {
  padding-block: 0;
}

@media (max-width: 767px) {
  .site-content {
    padding: 0;
  }

  .site-main {
    grid-template-columns: 1fr;
  }
}
