{{!-- {{#if custom_excerpt}}
  <p class="portfolio-item-desc">{{custom_excerpt}}</p>
{{else if excerpt}}
  <p class="portfolio-item-desc">{{excerpt words="25"}}</p>
{{/if}} --}}

<p class="portfolio-item-desc">{{excerpt words="10"}}</p>