<div class="portfolio-column">
  <h3 class="portfolio-column-title">Scratching itches</h3>
  {{> "indian-cinema-data-external-link"}}

  {{#get "posts" limit="5" filter="tag:scratching-itches" as |building_posts|}}
    {{#foreach building_posts}}
      <div class="portfolio-item">
        <a href="{{url}}" class="portfolio-link">
          <h4 class="portfolio-item-title">{{title}}</h4>
          {{> "portfolio-sections/post-excerpt"}}
        </a>
      </div>
    {{/foreach}}
  {{/get}}

</div>